/*  */

    body
        width 100%
        min-width 300px
        
        .hola
            border-color black
            

    /*  LOGIN  */ 

    .panel-login {
        border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        
    }
    .panel-login>.panel-heading {
        color: #00415d;
        background-color: #fff;
        border-color: #fff;
        text-align:center;
    }
    .panel-login>.panel-heading a{
        -moz-transition: all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        color: #666;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.1s linear;
    }
    .panel-login>.panel-heading a.active{
        color: #029f5b;
        font-size: 18px;
    }
    .panel-login>.panel-heading hr{
        margin-top: 10px;
        margin-bottom: 0px;
        clear: both;
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    }
    .panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .panel-login input:hover,
    .panel-login input:focus {
        outline:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
    }
    .btn-login {
        background-color: #59B2E0;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #59B2E6;
    }
    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }
    .forgot-password {
        text-decoration: underline;
        color: #888;
    }
    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #666;
    }

    .btn-register {
        background-color: #1CB94E;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #1CB94A;
    }
    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background-color: #1CA347;
        border-color: #1CA347;
    }


    /*  MODULO ALUMNOS  */
       
    
           
    .alu-reloj
        background-color #337AB7
        border-radius 0px !important
        text-align center
        font-size 30px !important
        width 100% !important
        padding 30px 0 30px 0 !important
        color #fff
    
    .alu-reloj:hover
        background-color #337AB7 !important     
           

    #content-right-alumno
    
        width 75%
        float left
    

    #open-test-alumno button
    {
        width: 100%;
        padding: 12px;
        border: 0;
        text-align: left;
        color: #fff;
        background-color #F0AD4E
        font-size 15px
    }
    
    #open-test-alumno button:hover
        background-color #337AB7

    #closed-test-alumno button
    {   
        width: 100%;
        padding: 12px;      
        border: 0;  
        text-align: left;
        color: #fff;
        background-color #F0AD4E
        font-size 15px
    }
    
     #closed-test-alumno button:hover
         background-color #337AB7
         

    .sidebar-alumno-dropdown
    {
        width: 100%;
        position:relative;
    }
    .test-box{
        border-bottom: 1px solid #CCC;
    }

    #container-alumno{
        width:100%; margin:0; padding:0;
    }


    #top-navbar-alumno
    {
            margin:0; padding:0; border-radius:0; border:0; background:#CCC;
    }

    #subTop-navbar-alumno
    {
        margin:0; padding:0; border-radius:0; border:0;
    }

    .navbar-inverse
        background-color #26ACDF
        border-color #26ACDF
        -webkit-box-shadow: 0px 2px 1px 0px rgba(142, 142, 142, 0.84);
        -moz-box-shadow:    0px 2px 1px 0px rgba(142, 142, 142, 0.84);
        box-shadow:         0px 2px 1px 0px rgba(142, 142, 142, 0.84)
        padding-bottom 0px
        
    .navbar-inverse .navbar-nav>li>a 
        color #fff
        margin-top 5px 

    .navbar-nav
        position relative
        float right
       
    .container
        width 100%    

      
            
    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
        background-color #26ACDF
    
    //CALENDAR

    .cal-cell
        background-color #FFEBB2
        border-radius 2px
    .cal-cell:hover
        background-color #FFDF81        
        color #111
    .cal-context              
       margin 0 auto
    
    .pull-right
        margin-top 20px
        margin-right 2%       

    .event
        background-color #337AB7
        width 16px
        height 16px
    .cal-day-today
        background-color #F0AD4E
        
    #cal-slide-content a.event-item
         color #111 
         
    div.checkbox
        display table-cell
          
        
@media screen and (min-width: 768px) {    
    .dropdown-menu{ 
        text-align: center;       
        width: 219px;        
        float :left;
        color:#fff !important;
        background-size: 60px 60px;
        padding: 7px 95px 0 0;
        background-color:#F0AD4E;
    }
    
    .dropdown-menu .alumno:hover{
        background-color:#F0AD4E;
        color:#fff;
    }
    
     .dropdown-menu .chatsoporte:hover{
        background-color:#F0AD4E;
        color:#fff;
    }
    
     .dropdown-menu .ayuda:hover{
        background-color:#F0AD4E;
        color:#fff;
    }
    
     .dropdown-menu .salir:hover{
        background-color:#F0AD4E;
        color:#fff;
    }
    
    #dropdown-aux{
        height:660px;
    }  
    nav.navbar-collapse ul li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        vertical-align: top;
      }  
    nav.navbar-collapse ul li a{
      display: table;
        height:53px;
        padding:70px 20px 5px 20px;
        background-repeat: no-repeat;
        background-position :center 5px;
        background-size :70px 70px;
        border-radius: 2%;
        opacity:0.75;
    }

    nav.navbar-collapse ul li a:hover{    
        opacity:1;
        background-size:75px 75px;
        
        
        
    }
    nav.navbar-collapse ul li a p{
        display: table-cell;
        max-width: 120px;
        text-align: center;
        color: rgb(255,255,255);
        margin: 0;
        padding: 43px 2px 0px 2px;
        word-wrap: break-word;
        vertical-align: middle;
        line-height: 50px;
    }
    
    .alu-reloj{
        display:none;
    }
    
  
    
    div.page-header{
         background-color: #D3EAF3;
         padding: 10px 0 55px 0;
         width: 100% ;
    }
    .page-header h3{
        font: 25px arial, bold, sans-serif;
        float: left;
        margin-left: 25px;
        color: #004B74;
        margin-top: 8px;
    }    
   
    
     .salir{
       margin-top: 150px;
    }
    
    div.checkbox{
        display:table-cell;
    }
    
    .cal-context{
        float:left;
        width:100%;
    }
    
    .sidebar-left{
        margin-top:100px;
        background-color:#F0AD4E;
        height:660px;
        width:255px;
    }
}

    //ICONOS
            
    .iproyecto
        background-image url(../img/proyectos.svg)

    .chatsoporte
        background-image url(../img/chatsoporte.svg)

    .ayuda
        background-image url(../img/ayuda.svg)

    .alumno
        background-image url(../img/alumno.svg)
        
                 
    .salir
        background-image url(../img/salir.svg)

    .cuaderno
        background-image url(../img/cuaderno.svg)
        
    .misnotas
        background-image url(../img/misnotas.svg)
        
    .miasistencia
        background-image url(../img/asistencia.svg)
        
    .anotaciones
        background-image url(../img/anotaciones.svg)

    .erecursos
        background-image url(../img/explorarecursos.svg)

    .comunicacion
        background-image url(../img/comunicacion.svg)    
                                        
    .opciones
        background-image url(../img/opciones.svg)
        
    .biblioteca
        background-image url(../img/biblioteca.svg)    

@media screen and (max-width: 966px) {
      nav.navbar-collapse ul li a{
        display: table;
        height:53px;
        padding:54px 5px 0px 5px;
        background-repeat: no-repeat;
        background-position :center 5px;
        background-size :50px 50px;
        font-size:13px;
        opacity:1;
    }
    
    nav.navbar-collapse ul li a:hover{    
        opacity:1;
        background-size:55px 55px;
    }   
   
    
    .cal-context{
        width:75% !important;
        margin 0 auto
    }
    
    #dropdown-aux{
        height:660px;
    }

    .dropdown-menu{ 
        text-align: center;       
        width: 219px;        
        float :left;
        background-size: 60px 60px;
        padding: 10px 130px 0 0px;
        background-color:#F0AD4E;
    }   
    
    .alu-biblio{
        display:none;
    }
    
    div.page-header{        
         width: 73% ;
         margin-left:40%;
         
    }
    .page-header {        
        margin-left:25% !important;
        margin-right:25%;
    }
    
    .salir{
       margin-top: 150px;
    }
    
    .sidebar-left{
        margin-top:78px;
        background-color:#F0AD4E;
        
    }
    
     #open-test-alumno button{
        background-color:#F0AD4E;
        color:#fff;
    }
    
    #closed-test-alumno button{
        background-color:#F0AD4E;
        color:#fff;
    }
    .alu-reloj{
        color:#fff;
    }    
    
   
}    


    /* MENU LATERAL */


@media screen and (max-width: 768px) {              

    .side-collapse-container{        
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }

    .side-collapse-container.out{
        left:200px;
    }

    .side-collapse {
        background-color:#F0AD4E;
        top:0;
        bottom:0;
        left:0;
        width:250px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
        }   


    .side-collapse.in {
        width:0;  
    }  

    .navbar-nav {
        padding-top: 0px;
        float:left;
        margin-left:15px;     
    }
        
    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
        background-color:#F0AD4E;
    } 
    
    .navbar-collapse .dropdown-menu ul li a { 
       display:none;
    }   
        
  .navbar-collapse ul li a{
        height:47px;
        width:280px;
        padding:20px 166px 0 0 !important;
        vertical-align:middle;
        background-repeat: no-repeat;
        background-position :center 0px;
        background-size :50px 50px;
        border-radius: 2%;
        font-size:16px !important;
        opacity:0.90;
        
    }
    div.navbar-inverse {
        overflow-y:auto;
        scrollbar-base-color: orange;
        scrollbar-arrow-color: green;
        scrollbar-DarkShadow-Color: blue;
             
    }
    .navbar-collapse ul li a:hover{    
        opacity:1;
        background-size:55px 55px;       
    }
    

    .navbar-inverse .navbar-nav>li>a {
        color: #fff;
        margin-top:2px;
    }      
        
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #FFF;
        padding-top:12px;
    }   
   
        
    .navbar-inverse .navbar-toggle {
        background-color:#F7BA63;
        border-color: #F0AD4E;
        margin-left:20px;
    }
        
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #f0ad4e;
    }   
   
    
    .cal-context{
        width:100% !important;
        margin:0 auto;
    }
    
    div.page-header{        
         width: 100% ;
    }
    .pull-right {
        margin-top: 0 !important;
        margin-right: 0 !important;       
        float: inherit !important;
        
    }
    
    .salir{
       margin-top: 0px;
    }
    
    .btn-group{
        padding:0;
        display:block;
        margin-top:-80px;
    }
     
    .page-header {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top:0 !important;
    }
    
    .page-header {        
        margin: 0 auto;        
    }
    
    .btn{
        border-radius:0;
        padding: 14px 25px;
        width:33%;
    }
    
    
    
    #open-test-alumno button{
        background-color:#26ACDF;
        color:#fff;
    }
    
    #closed-test-alumno button{
        background-color:#26ACDF;
        color:#fff;
    }
    
    .sidebar-left{
        margin-top:49px;
        background-color:#fff;
    }
    
    .navbar-inverse{
        box-shadow:none;
    }
    
    .pull-left{
        float:right !important;        
    }
    
    .alu-biblio{
        background-color:#26ACDF;
        color:#fff;
        border:1px;
        border-color:#fff;
    }
    
    .alu-reloj{
        display:none !important;
    }
    
    .alu-biblio:hover{
        background-color:#337AB7 !important;
        color:#fff !important;    
    }
    
    .cal-row-fluid{
        display:inline-block;
    }
    
    .btn-primary{
        width:33.3%;
    }
    
    .btn-warning{
        width:25%;
        padding:3px 0 3px 0;
        background-color:#fff;
        color:#111;
        border:0;
    }
    
    .btn-warning:hover{
        background-color:#286090;
    }
    
    .btn-warning:active{
        background-color:;
    }
    
    .nav-pills>li>a {
        border-radius: 0;   
    }
    
   .h3, h3 {        
        font-size:30px;
        font-weight: bold;
        text-align: center;
        
    } 
   
}