/*  MAQUETADO */




#eva-leftSection
    display 	inline-block
    margin 		0 0 0 0    
    padding 	20px 5px 0 20px
    width  		70%
    min-width   620px
    
#eva-rightSection
    vertical-align top
    display inline-block
    width  20%
    height 100%
    min-width 200px

.eva-Indicadores
    padding 20px 10px 0 0
    margin 0 0 0 0
    height 100%
    min-width 200px


/* DISEÑO */

.cortina_pause{
    top:0;
    background-color: rgba(0,0,0,0.9);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.cortina_pause > div{
    height: 40%;
    margin: 10% auto;
    text-align: center;
    width: 60%;
}

        
.info-prueba
    padding 22px 10px 23px 15px
    background #208BD4
    color #fff    

.info-tiempo
    padding 3px 10px 2px 15px
    background #F0F0F0
    color #777    

.info-tiempo li
    margin 4px 0 4px 0    

#cronometro
    font-size 30px
    color #D23232
    font-weight bold
    opacity 0.9    

#duracion_test
    font-size 16px        

.info-general
    
    padding 14px 0 14px 20px
    background #208BD4
    color #fff
    text-align left !important    

.info-general h3
    font-weight normal   

.info-alumno
    background #F0F0F0
    color 777
    font-weight normal 

.info-alumno p
    font-weight normal        
    margin 2px 0 2px 0   

.info-instucciones span
    font-weight normal
    font-size 14px !important    

#eva-membretePrueba        
    border-bottom  1px dashed #CCC     

.eva-boxPregunta    
    border-radius  5px
    padding  5px !important
    border  1px dashed #CCC
    background #fff    

.eva-boxPreguntaResp
    border-radius  5px
    padding  5px !important
    border  1px dashed #CCC
    background #fff    

.eva-btnEnviar
    font-size 14px !important

.eva-casillaImagen
    text-align  center    

.eva-casillaImagen img
    display  block margin  0 auto    

.eva-casillaCuerpo   
    padding 25px    

.eva-checkAlternativa    
    width 3%
    
.eva-textoAlternativa    
    width 94%   

.eva-letraAlternativa
    width 3%    

.eva-parejas    
    list-style-type  none
    margin 0
    padding 0       

.eva-btnMinPreg
    width 40px
    height 40px
    border-radius  26px !important
    padding 0
    margin 0 0 3px 0       

.eva-btnMinPreg focus
    background #337AB7
    color #fff
    

@media screen and (max-width: 840px) { 
    
    body{
        font-size 1.5em;
    }
        
    
    #eva-rightSection{
        width 100%
    }
    
    #eva-leftSection{
        width       100%
    }
    
    .cortina_pause > div{
        height 70%;
    }
    
    .div_btn{
        margin 20px auto
        
        .btn{
            margin-top 10px
        }
    }

    
    .div_btn > .btn{
        display inline-block
        width 100%
    }
}