
@import "evaluacion.css"

/*  LOGIN  */ 

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    color: #666;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}


/*  MODULO ALUMNOS  */
   

       
.alu-reloj
    background-color #337AB7
    border-radius 0px !important
    text-align center
    font-size 30px !important
    width 100% !important
    padding 30px 0 30px 0 !important
    color #fff

.alu-reloj:hover
    background-color #337AB7 !important     



#open-test-alumno button
{
    width: 100%;
    padding: 12px;
    border: 0;
    text-align: left;
    color: #fff;
    background-color #26ACDF
    font-size 15px
}

#open-test-alumno button:hover
    background-color #0386B8

#closed-test-alumno button
{   
    width: 100%;
    padding: 12px;      
    border: 0;  
    text-align: left;
    color: #fff;
    background-color #26ACDF
    font-size 15px
}

 #closed-test-alumno button:hover
     background-color #0386B8
     

.sidebar-alumno-dropdown
{
    width: 100%;
    position:relative;
}
.test-box{
    border-bottom: 1px solid #CCC;
    width:100%;
}

#container-alumno{
    width:95%; 
    margin:0 0 0 17px; 
    padding:0;
}


#top-navbar-alumno
{
        margin:0; padding:0; border-radius:0; border:0; background:#CCC;
}

#subTop-navbar-alumno
{
    margin:0; padding:0; border-radius:0; border:0;
}

.navbar-inverse
    background-color #26ACDF
    border-color #26ACDF
    -webkit-box-shadow: 0px 2px 1px 0px rgba(142, 142, 142, 0.84);
    -moz-box-shadow:    0px 2px 1px 0px rgba(142, 142, 142, 0.84);
    box-shadow:         0px 2px 1px 0px rgba(142, 142, 142, 0.84)
    padding 20px 0 0 0
    
.navbar-inverse .navbar-nav>li>a 
    color #fff
    margin-top 5px 

.navbar-nav
    position relative
    float right
   
.container
    width 95%    

  
        
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
    background-color #26ACDF

//CALENDAR

.cal-cell
    background-color #F0F0F0
    border-radius 2px
    width 100px
.cal-cell:hover
    background-color #D3EAF3        
    color #111
    
.cal-month-day
    height 70px 
        
.cal-context              
   margin 0 auto

.pull-right
    margin 0 5px 0 5px       
    float inherit !important       

.event
    background-color #337AB7
    width 16px
    height 16px
.cal-day-today
    background-color #F0AD4E
    
#cal-slide-content a.event-item
     color #111
     
div.checkbox
    display table-cell
    padding 0 20px 0 0
    
.evento-Personal
    background-color  #D44444 
    
.evento-Global
    background-color #26ACDF

.evento-Curso
    background-color #08A689

.ck_event_personal 
    background-color #D44444 
    padding 5px 20px 0 0
    margin 5px 0 0 0
.ck_event_global 
    background-color #26ACDF
    padding 5px 20px 0 0
    margin 5px 0 0 0
    
.ck_event_curso 
    background-color #08A689
    padding 5px 20px 0 0
    margin 5px 0 0 0        
    





      
    
@media screen and (min-width: 768px) {
    
    
    .dropdown-menu{ 
        text-align: left;       
        width: 219px;        
        float :left;
        color:#fff !important;
        background-size: 60px 60px;
        padding:0;
        background-color:#fff;
        font-size:16px !important;
        box-shadow:none;
        border:0;
    }
    
    .dropdown-menu>li>a{
        white-space:normal;
        padding:0 5px 0 5px !important;
        width:100%;
    }
    
    .open>.dropdown-menu{
        width:100% !important;
    }

    .alu-biblio{
        background-color:#D44444;
        color:#fff;
        padding:22px 0 22px 0 !important;
        margin:5px 0 5px 0;
        vertical-align:middle;        
    }
    .alu-biblio:hover{
        background-color:#AB0F0F !important;
        color:#fff !important;    
    }

    .alu-biblio img{
        width:70px;
        padding:0 0 0 0;
        margin:0 16px 0 0;
    }

    .dropdown-menu .alumno:hover{
        background-color:#F0AD4E;
        color:#fff;
    }

     .dropdown-menu .chatsoporte:hover{
        background-color:#F0AD4E;
        color:#fff;
    }

     .dropdown-menu .ayuda:hover{
        background-color:#F0AD4E;
        color:#fff;
    }

     .dropdown-menu .salir:hover{
        background-color:#F0AD4E;
        color:#fff;
    }

    #dropdown-aux{
        height:660px;
    }  
    nav.navbar-collapse ul li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        vertical-align: top;
      }  
    nav.navbar-collapse ul li a{
      display: table;
        height:53px;
        padding:70px 20px 5px 20px;
        background-repeat: no-repeat;
        background-position :center 5px;
        background-size :55px 55px;
        border-radius: 2%;
        opacity:0.8;
    }

    nav.navbar-collapse ul li a:hover{    
        opacity:1;
        background-size:60px 60px;
        
        
        
    }
    nav.navbar-collapse ul li a p{
        display: table-cell;
        max-width: 120px;
        text-align: center;
        color: rgb(255,255,255);
        margin: 0;
        padding: 43px 2px 0px 2px;
        word-wrap: break-word;
        vertical-align: middle;
        line-height: 50px;
    }

    .alu-reloj{
        display:none;
    }



    div.page-header{
         background-color: #D3EAF3;
         padding: 6px 0 18px 0;
         margin: 104px 0 11px 0;
         width: 98% ;
         border-radius:4px;
    }
    .page-header h3{
        font: 25px arial, bold, sans-serif;
        float: left;
        color: #004B74;
        margin:0 20px 0 280px;
    }

    .page-header{
        margin:88px 0 0 0;
    }    


     .salir{
       margin-top: 150px;
    }

    div.checkbox{
        display:table-cell;
    }

    .cal-context{
        float:left;
        width:98% !important;
    }

    .sidebar-left{       
        background-color:#fff;
        height:660px;
        /*width:350px;*/
        padding:0 0 0 15px;
        margin:165px 0 0 0;
    }
    .reloj { 
        width: 100%; 
        height: 100%; 
        padding:20px 0 0 0 ; 
        background-color:#D44444;
        background-repeat:no-repeat;       
        font: bold 1.9em dotum, "lucida sans", arial; 
        text-align: center;
        border-radius:4px;
        vertical-align:middle;
        color:#fff;
    }

    .reloj img{
        float:left;
        margin-top:-36px;
       
    }    

    .fecha{
        font-size:14px;
    }        

    .top_line{
        position: absolute;
        top :0px;
        height: 30px;
        width: 100%;
        min-width: 1000px;
        background: rgba(255,255,255,0.2);
        padding: 0px 0px 0px 0px;
    }
    .top_line a{
        color: #fff!important;
        font-size: 0.9em!important;
    }
    .top_line a:hover{
        text-decoration: underline!important;
    }
    .top_usuario{
        float: left!important;
        margin: 2px 0px 0px 20px!important;
    }
    .top_selector{
        float: right!important;
        margin: 1px 10px 0px 0px!important;
    }
    .top_selector span{
        margin-bottom: 3px!important;
    }
    #cambioColegio{
        float: left!important;
        margin: 2px 0px 0px 0px!important;
    }
    .top_selector img {
        margin: 1px 0px 0px 10px!important;
    }
    .top_selector select {
        height: 20px!important;
        width: 115px!important;
        border-radius: 5px!important;
        font-size: 0.8em!important;
    }
    .top_selector select option{
        font-size: 0.9em!important;
    }
    .top_alumno{
        position: relative;
        float: right!important;
        margin: 3px 10px 0px 0px!important;
        color: #fff!important;
        font-size: 0.9em!important;
    }
    .top_alumno span{
        margin-bottom: 3px!important;
    }
    .top_alumno select {
        height: 20px!important;
        width: 150px!important;
        border-radius: 5px!important;
        font-size: 0.9em!important;
    }
    .top_alumno select option{
        font-size: 0.9em!important;
    }
    #fotoAlumno {
        position: absolute!important;
        top:50px!important;
        right: 10px!important;
        border: 2px solid #fff!important;
        padding: 0!important;
        margin: 0!important;
    }
    .top_btn{
        float: right!important;
        margin: 2px 15px 0px 0px!important;
    }
    .top_btn img{
        vertical-align: middle!important;
    }

    .hoy{
        background-color:#D3EAF3;
        font-size:18px;
        
    } 

    .controla{
        background-color:#D3EAF3;              
    }

    .controla img{
        width:40px;
        margin:0 0 0 0;
    }

    .h3-xs{
        display:none;        
    }

    .h3-md{
        float:left;
    }

    .controla-hoy{
        margin:0 0 0 0;
        padding:0 0 0 0;
    }

    .controla-mes{
        float:right;
        padding:15px 0 0 0;
        margin:0 0 0 0;
    }
    .btn-warning{
        background-color: #26ACDF;
        border-color: #93D6EF;
    }
    .btn-warning:hover{         
        background-color: #26ACDF;
        border-color: #93D6EF;
        opacity: 0.5;
    }    
    .btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning{
        color: #111;
        background-color: #93D6EF;
        border-color: #26ACDF;
        border-top: 0px;   
    }

    .btn_salir{
        display:none !important;
    }

    #container-alumno{
        width:98%;
    }
    
    .container {
    width: 99% !important;
    }

    .biblioteca{
        display:none !important;
    } 
     

}

//ICONOS
        
.iproyecto
    background-image url(../img/proyectos.svg)

.chatsoporte
    background-image url(../img/chatsoporte.svg)

.ayuda
    background-image url(../img/ayuda.svg)

.alumno
    background-image url(../img/alumno.svg)
    
             
.salir
    background-image url(../img/webclass-btn-salir.png)

.cuaderno
    background-image url(../img/cuadernos.png)
    
.misnotas
    background-image url(../img/notas.png)
    
.miasistencia
    background-image url(../img/asistencia.png)
    
.anotaciones
    background-image url(../img/anotaciones.png)

.erecursos
    background-image url(../img/recursos.png)

.comunicacion
    background-image url(../img/btn_comunica.png)    
                                    
.opciones
    background-image url(../img/opciones.svg)
    
.biblioteca
    background-image url(../img/biblioteca.png)
    vertical-align middle
    
.anterior
    background-image url(../img/anterior.svg)
    background-repeat no-repeat    

.siguiente
    background-image url(../img/siguiente.svg)
    background-repeat no-repeat
         
.btn_reloj
    background-image url(../img/reloj.png)
    vertical-align middle
    
    
       

@media screen and (max-width: 966px) {
    nav.navbar-collapse ul li a{
        display: table;
        height:53px;
        padding:54px 5px 0px 5px;
        background-repeat: no-repeat;
        background-position :center 5px;
        background-size :40px 40px;
        font-size:13px;
        opacity:1;
    }

    nav.navbar-collapse ul li a:hover{    
        opacity:1;
        background-size:45px 45px;
    }

    .sidebar-left{
        margin:148px 0 0 0;
    }

    .page-header h3{
        font: 25px arial, bold, sans-serif;
        float: left;
        color: #004B74;
        margin:0 20px 0 50px;
    }

    .btn-warning{
        background-color: #26ACDF;
        border-color: #93D6EF;
    }
    .btn-warning:hover{         
        background-color: #26ACDF;
        border-color: #93D6EF;
        opacity: 0.5;
    }    
    .btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning{
        color: #111;
        background-color: #93D6EF;
        border-color: #26ACDF;
        border-top: 0px;   
    }

    #container-alumno{
        width:96%;
    }

    .biblioteca{
        display:none !important;
    } 
   
}    


/* MENU LATERAL */


@media screen and (max-width  768px) {              

    .side-collapse-container{       
        position:relative;
        left:0;
        transition:left .4s;
    }

    .side-collapse-container.out{
        left:200px;
    }

    .side-collapse {
        -webkit-box-shadow: 5px 0px 8px 0px rgba(50, 50, 50, 0.45) !important;
        -moz-box-shadow:    5px 0px 8px 0px rgba(50, 50, 50, 0.45)  !important;
        box-shadow:         5px 0px 8px 0px rgba(50, 50, 50, 0.45)  !important;
        background-color:#fff;        
        top:0;
        bottom:0;
        left:0;
        width:60%;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
        }   


    .side-collapse.in {
        width:0;  
    }  

    .navbar-nav {
        padding-top: 0px;
        float:left;
        margin:50px 0 0 15px ;     
    }
        
    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
        background-color:#F0AD4E;
    } 

    .navbar-collapse .dropdown-menu ul li a { 
       display:none;
    }   
        
    .navbar-collapse ul li a{
        height:47px;
        width:540px !important;
        padding:20px 166px 0 0 !important;
        vertical-align:middle;
        background-repeat: no-repeat;
        background-position :center 0px;
        background-size :35px 35px;
        border-radius: 2%;
        font-size:18px !important;
        font-weight:normal !important;
        opacity:0.90;
        border-bottom: 1px solid #F0F0F0;
        
    }    

    .navbar-inverse{
        box-shadow:none;
        margin:-50px 0 0 0;
        padding:0 0 0 0;        
    }

    .navbar-collapse ul li a:hover{    
        opacity:1;
        background-size:55px 55px;       
    }


    .navbar-inverse .navbar-nav>li>a {
        color: #777;
        margin-top:10px;
    }

    .navbar-inverse .navbar-nav>li>a:hover {
        color: #111;
        margin-top:10px;
    }       
        
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #FFF;
        padding-top:12px;
    }   

        
    .navbar-inverse .navbar-toggle {
        display: inline-block;
        padding:0 0 0 9px;
        margin: 70% 0 0 0;
        background:#0386B8;
        right: 0;
        color: #fff;
        vertical-align: middle;
        font-weight: bold;
        font-size: 30px;
        position: fixed;
        width: 40px;
        height: 75px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border:0;
        overflow: hidden;  
    }
        
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #f0ad4e;
    }   


    .cal-context{
        width:100% !important;
        margin:0 auto;
        margin:70px 0 0 0; 
    }

    div.page-header{        
         width: 100% ;
    }
    .pull-right {
        padding:0 0 70px 0; 
        margin:20px 0 0 0;      
        float: inherit !important;
        
    }
    
    .dropdown-menu>li>a{
        white-space:normal;
    }

    .salir{
       margin-top: 0px;
    }

    .btn-group{
        padding:0;
        display:block;
        margin-top:-80px;
    }
     
    .page-header {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top:0 !important;
    }

    .page-header {        
        margin: 0 auto;        
    }

    .btn{
        border-radius:0;
        padding: 14px 25px;
        width:33%;
    }



    #open-test-alumno button{
        background-color:#26ACDF;
        padding:16px 0 16px 10px;
        color:#fff;
        font-size:17px;
        text-align:center;        
    }

    #closed-test-alumno button{
        background-color:#26ACDF;
        padding:16px 0 16px 10px;
        color:#fff;
        font-size:17px;
        text-align:center;
    }

    .sidebar-left{
        margin:0 0 0 0;
        background-color:#fff;
        padding:0 0 0 0;
    }    

    .pull-left{
        float:right !important;        
    }

    .alu-biblio{
        display:none !important;
    }

    .alu-reloj{
        display:none !important;
    }

    .alu-biblio:hover{
        background-color:#AB0F0F !important;
        color:#fff !important;    
    }

    .alu-biblio img{
        display:none;
    }

    .cal-row-fluid{
        display:inline-block;
    }

    .btn-primary{
        width:33.3%;
    }

    .btn-warning{
        width:25%;
        padding:13px 0 13px 0;
        background-color:#26ACDF;
        color:#fff;
        border:0;
    }

    .btn-warning:hover{
        background-color:#26ACDF;
        opacity:0.5;
    }

    .btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
        color: #111;
        background-color:#93D6EF;
        border-color: #d58512;        
    }

    .nav-pills>li>a {
        border-radius: 0;   
    }

    .h3, h3 {        
        font-size:30px;
        font-weight: bold;
        text-align: center;       
    }

    .h3-md{
        display:none;
    }

    .page-header h3{
        font: 25px arial, bold, sans-serif;       
        color: #004B74;       
    }

    .top_line{
        display:none;
    }

    .fecha{
        display:none;
    }

    .reloj{
        display:none;
    }
    div#reloj{
        display:none;
    }   

    .hoy{
        background-color:#DBDBDB;
    } 

    .controla{
        background-color:#fff;
    }

    .btn_salir{
        display:block;
    }
    
    #container-alumno{
    width:94%;
    }
    
    .cerrar-toggle{        
        background:#111;
        opacity:0.3;               
        width:100% !important;
        height:100% !important;
        z-index:1001;
        position:fixed;
    }
    
    .cerrar-toggle2{
        background:#111;
        opacity:0.3; 
        width:100% !important;
        height:100% !important;
        margin 0
        padding 0
        z-index:900;
        position:fixed;
    }
    
     .biblioteca{
        display:block !important;
    } 
    
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color:#0386B8 !important;
        color:#fff !important;
    }       

}

@media screen and (max-width  480px){ 
    .side-collapse{
        width: 68%;
    }
    
    #container-alumno{
    width:90%;
    }
    
    .navbar-collapse ul li a{
        width:350px !important;       
        font-size:16px !important;
        font-weight:normal !important;       
    }
    
    .alu-biblio{
        display:none !important;
    }
    
    .biblioteca{
        display:block !important;
    }
    
    #open-test-alumno button{
        background-color:#26ACDF;
        padding:16px 0 16px 10px;
        color:#fff;
        font-size:16px;        
    }

    #closed-test-alumno button{
        background-color:#26ACDF;
        padding:16px 0 16px 10px;
        color:#fff;
        font-size:16px;
    }           
}